{% extends "base.html" %}

{% block content %}



<h1>TODO LIST</h1>
<div id="container">
    <input type="text" id="todoinput" placeholder="What you gonna do?" autocomplete="off">
    <ul id="todolist">
        {% for task in tasks %}
        <li contentEditable=true data-id="{{ task.id }}">
            {{ task.body }}
            <div contentEditable=false class="completed_button">
                done
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block script %}
<script>
    const input = document.querySelector('#todoinput');
    input.addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            const url = "{{ url('create_task') }}";
            let data = {};
            data['task'] = this.value;
            data['user_id'] = '{{ current_user.user_id }}';
            fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (!response.ok) throw Error(response.statusText);
                return response.json();
            }).then(json => {
                let task_list = document.querySelector('#todolist');
                let li_element = document.createElement('li');
                li_element.innerHTML = json.body;
                li_element.dataset.id = json.id;
                li_element.setAttribute("contenteditable", true);
                let done_element = document.createElement('div');
                done_element.setAttribute("contenteditable", false);
                done_element.classList.add("completed_button");
                done_element.innerHTML='done';
                li_element.appendChild(done_element);
                task_list.appendChild(li_element);
                this.value = '';
            })
        }
    })



    
    let task_elements = document.querySelector('#todolist');


    task_elements.addEventListener('input', function (e) {
        const task = e.target;
        if (task.tagName=='LI') {
            task_update(task)
        }
        
    })

    function task_update(task) {
        const data = { 'id': task.dataset.id ,'body':task.childNodes[0].nodeValue}
        const url = "{{ url('update_task') }}";
        fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (!response.ok) throw Error(response.statusText);
            return response.json();
        })
    }


    task_elements.addEventListener('click', function (e) {
        const task = e.target;
        if (task.tagName=='DIV') {
            task_delete(task)
        }
    })



    function task_delete(task) {
        const data = { 'id': task.parentNode.dataset.id }
        const url = "{{ url('delete_task') }}";
        fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (!response.ok) throw Error(response.statusText);
            return response.json();
        }).then(json => {
            task_elements.removeChild(task.parentNode)
        })
    }
</script>
{% endblock %}